<!-- Generated template for the IonPoemComponent component -->
<div>

  <ion-row>
    <ion-col col-3>
        <button ion-item *ngFor="let item of products" (click)='select($event)'>
            {{ item }}
          </button> 
    </ion-col>

    <ion-col col-9>
        <ion-list>
            <ion-item *ngFor="let i of items">{{i}}</ion-item>
          </ion-list>
         
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
    </ion-col>
  </ion-row>
</div>