page-poem-detail {
    .toolbar{
        width: auto;
    }
    .swiper-container{
        overflow:inherit;
    }

    .slide-zoom{
        text-align:left;
        // padding-left: 20px;
    }
    .swiper-slide{
        align-items: normal;
    }
    ion-content{
        top:56px;
    }
}
