page-poem-detail {
    .toolbar{
        width: auto;
        form{
            display: flex;
        }
    }
    .swiper-container{
        overflow:inherit;
    }

    .slide-zoom{
        text-align:left;
        // padding-left: 20px;
    }
    .swiper-slide{
        align-items: normal;
    }
    ion-content{
        top:56px;
    }

    [formcontrolname].ng-invalid.ng-touched{
        border: 1px solid #ff0000;
    }
    [formcontrolname].ng-invalid.ng-dirty{
        border: 1px solid #ff0000;
    }
}
