page-home {
  ion-slides{
    height: auto;
    & .swiper-slide img{
      height: 120px;
      width: 600px;
    }
  }
  .categories 
  {
    ion-icon{
      font-size: 2.5em;
      display: block;
    }
    .title{
      display: inline-block;
      font-size: 1.2em;
    }
  }

}


